MONGODB_DATABASE=recentlyviewed
MONGODB_HOST=uat-mongo-1.svr.tiki.services
MONGODB_USERNAME=recentlyviewed
MONGODB_PASSWORD=abc123456789
MONGODB_PORT=27017
MONGODB_REPLICATESET=uatmongo
MONGODB_TIMEOUT=60
MONGODB_READPREFERENCE=5
URL_API_CATALOG=http://uat.catalog.tiki.services/v1/